<div style="display: inline-box">
    <div class="botones">
        <div class="boton" id="arriba" (click)="_rotarModulo('arriba')">▲</div>
        <div class="boton" id="abajo" (click)="_rotarModulo('abajo')">▼</div>
        <div class="boton" id="izquierda" (click)="_rotarModulo('izquierda')">◄</div>
        <div class="boton" id="derecha" (click)="_rotarModulo('derecha')">►</div>
    </div>
    <div class="botones" style="margin-left: 100px;">
        <div class="boton" id="zoomIn" (click)="_zoomModulo('aumentar')">+</div>
        <div class="boton" id="zoomOut" (click)="_zoomModulo('reducir')">-</div>
    </div>
</div>