.listH {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

select {
    border-radius: 0.5rem;
    margin: 0px 0px 1em 0px;
    font-size: 0.9em;
    padding: 4px;
}