.grid-button {
  display: grid;
  justify-content: end;
  grid-template-columns: auto auto auto;
  padding-top: 2%;
  border-radius: 50%;
  grid-column-gap: 2%;
}

.botonera {
  width: 65%;
  justify-content: end;
  text-align: right;
}