.grid-button {
  display: grid;
  justify-content: end;
  grid-template-columns: auto auto auto;
  padding-top: 1%;
  border-radius: 50%;
  grid-column-gap: 2%;
}

button {
  display: inline-block;
  border-radius: 10px;
  background-color: #00d977;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
 
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
 
button span:after {
 
content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
 
position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
 
button:hover span {
  padding-right: 25px;
}
 
button:hover span:after {
  opacity: 1;
  right: 0;
}