:host /deep/ ng2-smart-table tbody > tr > td:nth-child(2)  { 
    text-align: right;
  }
  :host /deep/ ng2-smart-table tbody > tr > td:nth-child(3)  { 
    text-align: center;
  }
  :host /deep/ ng2-smart-table tbody > tr > td:nth-child(4)  { 
    text-align: center;
  }
  
  :host /deep/ ng2-smart-table input {
    color: black;
  }
  
  :host /deep/ ng2-smart-table select {
    color: black;
  }
  .page {
      width: 100%;
      height: 100%;
    }
    
    .padding-2 {
      padding: 2% 2% 1% 0%;
    }
     
    .conttabla{
      font-size: 2rem;
      justify-content: center;
      width: 100%;  
    }