
    <div style="margin: 0 1% 0 1%;">
    
      <nb-tabset>
        <nb-tab tabTitle="Area de la Tienda" [active]="areatienda">      
      <app-areatienda></app-areatienda>
        </nb-tab>
        <nb-tab tabTitle="Distribucion en el lineal" [active]="distribucion">
            <app-distribucion></app-distribucion>
            </nb-tab>
      <nb-tab tabTitle="Zonas, Secciones y Lineales" [active]="distritienda">
      <app-distritienda></app-distritienda>
      </nb-tab>

      </nb-tabset>
    </div>