.almacen {
    position: absolute;
    background: gray;
    border: 1px solid black;
    padding: 60px;
    text-align: center;
    color: #fff;
    width: 180px;
}

.almacen .handle {
    position: absolute;
    width: 24px;
    left: 5px;
    top: 5px;
}

.small {
    padding: 40px;
    width: 130px;
}

.large {
    width: 200px;
    padding: 80px;
}