<nb-layout>

    <nb-layout-header fixed>
        <a style="margin-right: 10px;" routerLink="/estructuratienda" routerLinkActive="active"><img src='../../../assets/img/back-button-32.png' style="width: 16px; height: 16px;" /></a>
        <h1>Distribución de productos en módulo {{idModulo}} de lineal {{idLineal}}</h1>
    </nb-layout-header>

    <!-- <nb-sidebar>
        <app-menu-modulo (rotarModulo)="rotarModulo($event.x, $event.y)" (zoomModulo)="escalarModulo($event)"></app-menu-modulo>
    </nb-sidebar> -->
    <nb-layout-column style="padding:0">
        <app-modulo-tridimensional [modulo]="modulo" [datosBalda]="datosBalda" [grupoProductos]="grupoProductos"></app-modulo-tridimensional>
    </nb-layout-column>



</nb-layout>